#parse('templates/header.vm')

<h3>Tracks <small>($!totalTracks Total)</small></h3>
<script src="https://unpkg.com/htmx.org@0.3.0"></script>
<div style="padding: 12px">
    <form>
        <b>Search </b>
        <input type="text" placeholder="Search by track, album or artist name..."
               name="q"
               value="$!web.param('q')"
        hx-get="/tracks" hx-push-url="true" hx-trigger="keyup delay:300ms changed" hx-target="#results">
        <a href="/tracks/search">Advanced Search >></a>
    </form>
</div>

<div id="results">
    #parse('templates/tracks/table.vm')

</div>


$web.pagingWidget($tracks)

<a href="/tracks/new">[Create New Track]</a>

#parse('templates/footer.vm')
